body {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
}

h2 {
  border-bottom: 2px solid black;
}

.question {
  display: none;
  margin-top: 20px;
  border: 2px solid black; 
}

.result {
  display: none;
  border: 2px solid black; 
}

.result img {
  float: left;
  width: 20%;
  height: auto;
}